html, body {
    height: 100%;
    width: 100%;
}
#fileform{
    height: 100%;
    width: 75%;
    
    
}
input{
    margin-top:2em ;
}
h1{
    text-align: center;
    margin:2em ;

}
.textCarousel{
    -webkit-text-stroke: 1px #000;
    position: absolute;
    top: 10%;
    left: 39%;
    font-size: 3em;
    color: #f5f5f5;
}