html, body {
    height: 100%;
    width: 100%;
}
#fileform{
    height: 100%;
    width: 75%;
    
    
}
input{
    margin-top:2em ;
}
h1{
    text-align: center;
    margin:2em ;

}
#submit_upload{
    al
}
